.crew-selector {
  display: flex;
  gap: 3rem;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--white);
  opacity: 50%;
  cursor: pointer;
  transition: 0.5s ease;
}

.dot:hover {
  transform: scale(1.2);
}

.active-dot {
  opacity: 1;
  cursor: auto;
  box-shadow: 1px 2px 1px white, 1px 2px 5px white, 1px 2px 15px white;
}
