@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;500;700&family=Bellefair&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #0b0d17;
  --lightblue: #d0d6f9;
  --white: #ffffff;
  --bellafair: "Bellefair", serif;
  --barlow: "Barlow Condensed", sans-serif;
  --mainPaddingX: 16.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.barlow {
  font-family: var(--barlow);
}

.bellafair {
  font-family: var(--bellafair);
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
}

.small {
  font-size: 1.4rem;
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--black);
}

.muted {
  opacity: 35%;
}

.semi-muted {
  opacity: 55%;
}

.strong {
  font-weight: 800;
}

.thin {
  font-weight: 200;
}

.uppercase {
  text-transform: uppercase;
}

.l-spacing {
  letter-spacing: 0.5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 1rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.blurb-height {
  line-height: 3.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.view-container {
  width: 100%;
  min-height: 100vh;
}

.flex-content-container {
  padding: 0rem var(--mainPaddingX);
  display: flex;
  /* gap: 5rem; */
  /* padding-bottom: 0; */
  /* border: 2px solid green; */
}

.content-column {
  flex: 1;
  position: relative;
  /* min-width: 500px; */
}

.content-column:nth-child(2) {
  /*prevent collision on resizing */
  margin-left: 5rem;
}

/*Animation classes */

.scale-character {
  transform: scale(0);
  animation: scalecharacter 1s var(--delay) forwards;
}

@keyframes scalecharacter {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slide-character-left {
  transform: translateX(100vw);
  animation: slideleft 1s forwards;
}

@keyframes slideleft {
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-el-right {
  transform: translateX(0vw);
  animation: sliderightonscreen 1s forwards;
}

.sliderightonscreen {
  transform: translateX(-100rem);
  animation: sliderightonscreen 1s forwards;
}

@keyframes sliderightonscreen {
  50% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}

.sliderightoffscreen {
  animation: sliderightoffscreen 1s forwards;
}

@keyframes sliderightoffscreen {
  100% {
    transform: translateX(100rem);
  }
}

.raise-character {
  transform: translateY(100vw);
  animation: slideup 1s var(--delay) forwards;
}

@keyframes slideup {
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-out {
  transition: 1s ease-in;
  opacity: 0;
}

.drop-el {
  transform: translateY(100vh);
  transition: 1s ease;
}

.riseonscreen {
  transform: translateY(100vh);
  animation: riseonscreen 1s forwards;
}

@keyframes riseonscreen {
  50% {
    transform: translateY(0);
    /*add 'flash' for header, doesn't impact img */
    text-shadow: 1px 1px 15px white;
  }
  100% {
    transform: translateY(0);
    text-shadow: 1px 1px 1px white;
  }
}

.riseoffscreen {
  animation: riseoffscreen 1s forwards;
}

@keyframes riseoffscreen {
  100% {
    transform: translateY(-100rem);
  }
}

.clear-text {
  opacity: 0;
  filter: blur(10px);
  animation: cleartext 2s forwards;
}

@keyframes cleartext {
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.fadeblur {
  animation: fadeblur 3s forwards;
}

@keyframes fadeblur {
  50% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    opacity: 0;
  }
}

.pinch-shut {
  overflow: hidden;
  animation: pinchshut 1s forwards;
  transform-origin: center;
  /* height: 150px; */
}

@keyframes pinchshut {
  100% {
    transform: scaleY(0);
  }
}

.open-wide {
  animation: open-wide 1s forwards;
  transform-origin: center;
  transform: scaleY(0);
}

@keyframes open-wide {
  100% {
    transform: scaleY(1);
  }
}

.pinch-x-shut {
  overflow: hidden;
  animation: pinch-x-shut 0.5s forwards;
  transform-origin: center;
  /* height: 150px; */
}

@keyframes pinch-x-shut {
  100% {
    transform: scaleX(0);
  }
}

.open-x-wide {
  animation: open-x-wide 0.5s forwards;
  transform-origin: center;
  transform: scaleX(0);
}

@keyframes open-x-wide {
  100% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 950px) {
  :root {
    --mainPaddingX: 4rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  .flex-content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  .content-column {
    text-align: center;
    /* border: 2px solid green; */
  }

  .content-column:nth-child(2) {
    /*prevent collision on resizing */
    margin-left: 0rem;
  }

  /*NOT NEEDED IF NO MIN Value is set globally */
  /* .content-column {
    min-width: fit-content;
  } */
}

@media screen and (max-width: 450px) {
  :root {
    --mainPaddingX: 2rem;
  }
}
